<ng-include src="'header.htm'"></ng-include>
<div class="mainContainer shadow">
    <h2>Edit My profile</h2>
    <div id="editProfileDiv">
        <div class="editProfileDiv">
            <form ng-submit="changeCredentials()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" ng-model='username'>
                </div>
                <div class="form-group">
                    <label for="realName">Real Name</label>
                    <input type="text" class="form-control" id="realName" ng-model='realName'>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" ng-model='email'>
                </div>
                <div class="form-group">
                    <label for="password1">New password</label>
                    <input type="password" class="form-control" id="password1" placeholder="Password..."
                           ng-model='password1' required>
                </div>
                <div class="form-group">
                    <label for="password2">Repeat password</label>
                    <input type="password" class="form-control" id="password2" placeholder="Password..."
                           ng-model='password2' required>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary btn-sm"> Save</button>
                    <span class="formMessage" id="serverMessage">{{serverMessage}}</span>
                </p>
            </form>
        </div>
        <div class="editProfileDiv">
            <div class="profilePictureDiv">
                <img ng-src="/twitter/image/renderImage?userName={{username}}"/>
            </div>
            <div>
                <form ng-submit="changeProfileImage()">
                    <label for="profilePicture">Change your Profile image: </label>
                    <input id="profilePicture" type="file" file-model="myFile" required/>
                    <button type="submit" class="btn btn-primary btn-sm"> Upload</button>
                </form>
            </div>
            <p id="serverMessage2" class="formMessage">
                {{serverMessage2}}
            </p>
        </div>
    </div>
</div>