<ng-include src="'header.htm'"></ng-include>
<div class="shadow">
    <div class="followUser" ng-repeat="user in users">
        <div class="profileDetailsCol1">
            <img ng-src="/twitter/image/renderImage?userName={{user.username}}"/>
        </div>
        <div class="profileDetailsCol2">
            <b> Username:</b> <a href="/twitter/#/users/{{user.username}}">{{user.username}}</a> <br>
            <b>Real Name: </b> {{user.realName}} <br>
            <b>Email: </b> {{user.email}} <br>
            <b>Total tweets: </b> {{user.totalTweets}} <br>
        </div>
    </div>
</div>

