<header class="" ng-controller="headerController">
    <div id="logo">
        <h2>Welcome {{currentUser}}!</h2>
    </div>
    <div id='menu' class="btn-group" role="group" aria-label="...">
        <div id="menuCol1">
            <div id="messagesBtnContainer" class="btn">
                <div id="messagesBtn" data-toggle="modal" data-target="#notificationsMessagesModal" class="icon">
                    <a href="">
                        <span class="coloredIcon glyphicon glyphicon-envelope"></span>
                    </a>
                </div>
                <div ng-show="unreadMessagesContainer"  id="totalUnreadMessagesContainer">
                    <div id="totalUnreadMessages"> {{totalUnreadMessages}} </div>
                </div>
            </div>
            <div id="notificationsBtnContainer" class="btn">
                <div id="notificationsBtn" ng-click="showNotifications=!showNotifications" class="icon">
                    <a href="">
                        <span class="coloredIcon glyphicon glyphicon-bell"></span>
                    </a>
                </div>
                <div ng-show="unreadNotificationsContainer"  id="totalUnreadNotificationsContainer">
                    <div id="totalUnreadNotifications"> {{totalUnreadNotifications}} </div>
                </div>
            </div>

        </div>
        <div id="menuCol2">
            <a type="button" class="btn btn-default" href="/twitter/#/">
                <div>
                    <span class="coloredIcon glyphicon glyphicon-home"></span> <span>Home</span>
                </div>
            </a>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Profile
                    <span class="coloredIcon caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <i class="icon-arrow-up"></i>
                        <a href="" ng-click="showCurrentUserProfile()" >
                            <span class="coloredIcon glyphicon glyphicon-user"></span><span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a  href="#/edit-profile"> <span class="coloredIcon glyphicon glyphicon-cog"></span> Edit Profile </a>
                    </li>
                    <li>
                        <a href="logout"><span class="coloredIcon glyphicon glyphicon-off"></span> Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ng-include src="'notifications.htm'"></ng-include>
    <ng-include src="'messages.htm'"></ng-include>

    <div class="modal fade" id="replyToMessageModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="replyToUserMessage()">
                    <div class="modal-content-header">Reply to {{ receiver }}:</div>
                    <input ng-model="messageId" type="hidden"/>
                    <div class="modal-body">
                        <textarea name="message" placeholder="Write your message here.." id="message" cols="50" rows="6" ng-model="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <input id="" type="hidden" value=""/>
                        <button type="submit" class="btn btn-primary btn-sm"> Send Message </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</header>
