<ng-include src="'header.htm'"></ng-include>
<div class="mainContainer">
    <div>
        <div style="float: right;">
            <a href="/twitter/#/search-people">
                <button type="button" class="btn btn-default">
                    <span class="coloredIcon glyphicon glyphicon-search"></span> Search
                </button>
            </a>
        </div>
    </div>
    <div>
        <div id="updateStatus">
            <div class="updateStatusForm">
                <div>
                    <h3> What are you doing ? </h3>

                    <form ng-submit="createTweet()">
                        <textArea class="form-control" rows="3" cols="44" id="tweetToAdd" value="" required=""
                                  ng-model="tweetToAdd"></textArea> <br/>
                        <button type="submit"  class="btn btn-primary btn-sm" id="">Update</button>
                    </form>
                    <br/>
                </div>
                <div id="statusMessage"></div>
            </div>
            <div class="shadow" dir-paginate="tweet in tweets | itemsPerPage: 5">
                <div class="tweet">
                    <div class="user">
                        <div class="profileImg">
                            <a href="/twitter/#/usersF/{{tweet.author}}">
                                <img ng-src="/twitter/image/renderImage?userName={{tweet.author}}" />
                            </a>
                        </div>
                        <div class="profileName">
                            <strong>
                                <a href="/twitter/#/users/{{tweet.author}}">
                                    {{tweet.author}}
                                </a>
                            </strong>:
                            {{tweet.message}} <br/>
                        </div>
                    </div>

                    <div class="statusMessageTime">
                        <span class=" glyphicon glyphicon-dashboard"></span> {{tweet.dateCreated | date:'short'}}
                    </div>
                    <like tweet-id="tweet.id"></like>
                </div>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>

        <div class="centerContainer">
            <div class="centerContainerElement" id="search">
                <h3>Search for a tweet:</h3>
                <div class="seachForm">

                    <div id="seachForm">

                        <div>
                        <textArea class="form-control" rows="3" cols="44" id="tweetToSearch" value="" required="" ng-model="query"
                                  ng-change="searchForTweet()"></textArea> <br/> <br/>
                        </div>
                    </div>

                    <div class="serverMessage" id="seachFormMessage">
                        {{query}}
                    </div>

                </div>
                <div> {{totalResults}} </div>
                <div class="shadow" ng-repeat="tweet in queryResults">
                    <div class="tweet">
                        <div class="user">
                            <div class="profileImg">
                                <a href="/twitter/#/users/{{tweet.author}}">
                                    <img ng-src="/twitter/image/renderImage?userName={{tweet.author}}" />
                                </a>
                            </div>
                            <div class="profileName">
                                <strong>
                                    <a href="/twitter/#/users/{{tweet.username}}">{{tweet.author}}</a>
                                </strong>:
                                <span ng-bind-html="tweet.message | boldSubstring: query"> </span><br/>
                            </div>
                        </div>

                        <div class="statusMessageTime">
                            <span class=" glyphicon glyphicon-dashboard"></span>  {{tweet.dateCreated | date:'short'}}
                        </div>
                        <like tweet-id="tweet.id"></like>
                    </div>
                </div>
            </div>
            <div class="centerContainerElement" id="widget">
                <top-tweets max-results="4" tweet-likes="tweet.likes"> </top-tweets>
            </div>
        </div>
    </div>
</div>
