<div class="modal fade messages" id="notificationsMessagesModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div ng-show="noMessages">
                    You have no messages in your inbox...
                </div>
                <div ng-hide="noMessages">
                    <div class="modal-content-header">My inbox messages:</div>
                    <hr/>
                </div>
                <div class='notification' ng-repeat="message in messages">
                    <div class="notificationMainContent">
                        <div class="userPic">
                            <a href="/twitter/#/users/{{message.user}}">
                            <img ng-src="/twitter/image/renderImage?userName={{message.user}}" />
                            </a>
                        </div>
                        <div class="mainContent">
                            <div class="message">
                            <span ng-bind-html="message.message | boldSubstring: message.user"> </span>
                            </div>
                            <div class="date">
                            {{message.dateCreated | date:'short'}}
                            </div>
                        </div> <br>
                        <div class='message-buttons'>
                            <div ng-if="message.readed == false">
                                <div class="button">
                                <span title='Mark as read' class='glyphicon glyphicon-ok'  ng-click="markNotificationAsRead(message.id, 'message')"></span>
                                </div>
                            </div>
                            <div class="button">
                                <span data-toggle="modal" title='Replay to this message' ng-click="saveReceiverAndMessageId(message.user, message.id)" data-target="#replyToMessageModal" class='glyphicon glyphicon-share-alt'></span>
                            </div>
                            <div class="button">
                                <span title='Delete this message' class='glyphicon glyphicon-trash' ng-click="deleteNotification(message.id, 'message')"></span>
                            </div>
                            <div ng-if="message.replied == true">
                                <div class="button">
                                    <span class="smallElem"> Replied </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
