<div id="notificationsContainer"  data-slide-toggle="showNotifications" data-slide-toggle-duration="800">
    <div ng-show="noNotifications">You have no notifications yet...</div>
    <div class='notification' ng-repeat="notification in notifications">
        <div class="notificationMainContent">
            <div class="userPic">
                <a href="/twitter/#/users/{{notification.user}}">
                    <img ng-src="/twitter/image/renderImage?userName={{notification.user}}" />
                </a>
            </div>
            <div class="mainContent">
                <div class="message">
                    <span ng-bind-html="notification.message | boldSubstring: notification.user"> </span>
                </div>
                <div class="date">
                    {{notification.dateCreated | date:'short'}}
                </div>
            </div>
        </div>
        <div class='buttons'>
            <div ng-if="notification.readed == false">
                <div class="button">
                    <span title='Mark as read' class='glyphicon glyphicon-ok'  ng-click="markNotificationAsRead(notification.id, 'notification')"></span>
                </div>
            </div>
            <div class="button">
                <span title='Delete this notification' class='glyphicon glyphicon-trash' ng-click="deleteNotification(notification.id, 'notification')"></span>
            </div>
        </div>
    </div>
</div>