<ng-include src="'header.htm'"></ng-include>
<div class="mainContainer shadow">
    <div class="userProfile">
        <div class="profileDetailsCol1">
            <div class="profilePictureDiv">
                <img ng-src="/twitter/image/renderImage?userName={{user.username}}"/>
            </div>
        </div>
        <div class="profileDetailsCol2">
            <b> Username:</b> {{user.username}} <br>
            <b>Real Name: </b> {{user.realName}} <br>
            <b>Total tweets: </b> <span ng-model="totalTweets">{{user.totalTweets}}</span> <br>
            <b>Followers: </b> <a href="#/users/{{user.username}}/followers" class="link"> {{user.followers}} </a> </br>
            <b>Following: </b> <a href="#/users/{{user.username}}/followings" class="link">
            {{user.followings}} </a> </br>
        </div>
        <div id="editProfileBtn">
            <div ng-show="outerUser">
                <follow-unfollow username="user.username"></follow-unfollow>
                <span title="Send a message" data-toggle="modal" class=" glyphicon glyphicon-envelope hoverElem" ng-click="receiver = user.username" data-target="#sendMessageModal"></span>
            </div>
            <div ng-show="currentUser">
                <a class="btn btn-primary btn-sm" href="#/edit-profile"> Edit Profile </a>
            </div>
        </div>
    </div>
    <hr/>
    <div id="userMessages">
        <div dir-paginate="tweet in tweets | itemsPerPage: 5">
            <div class="status">
                <div class="col1">
                    <b>Content:</b> {{tweet.message}} <br>
                    <b><span class=" glyphicon glyphicon-dashboard"></span></b> {{tweet.dateCreated | date:'short'}}
                    <br>
                    <like tweet-id="tweet.id"></like>
                </div>
                <div class="col2" ng-show="currentUser">
                    <div class="hoverElem">
                        <button data-toggle="modal" data-target="#deleteTweetModal" ng-click="saveTweetId(tweet.id)"
                                title="Delete this tweet" class="btn btn-danger btn-sm"> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
    <div class="modal fade" id="deleteTweetModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this tweet ?</p>
                </div>
                <div class="modal-footer">
                    <input id="tweetToDeleteId" type="hidden" value=""/>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="deleteTweet()">
                        Yes
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sendMessageModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="sendMessageToUser()">
                    <div class="modal-content-header">Send a message to {{ receiver }}:</div>
                    <div class="modal-body">
                        <textarea name="message" placeholder="Write your message here.." id="message" cols="50" rows="6" ng-model="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <input id="" type="hidden" value=""/>
                        <button type="submit" class="btn btn-primary btn-sm"> Send Message </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

