<ng-include src="'header.htm'"></ng-include>
<div class="shadow" id="">

    <div class="input-group">
        <input size="40" type="text" ng-model="query" class="" placeholder="Search for...">
        <i class="form-control-feedback glyphicon glyphicon-user"></i>
    </div>
    <table class="table table-condensed" style="margin-top: 15px">
        <tr>
            <th><a href="" ng-click="sortField = 'user.username'; reverse=!reverse"> User </a></th>
            <th><a href="" ng-click="sortField = 'user.totalTweets'; reverse=!reverse"> Number of tweets </a></th>
            <th><a href="" ng-click="sortField = 'action'; reverse=!reverse"> Status </a></th>
        </tr>
        <tr ng-animate="'animate'" ng-repeat="user in users | filter:query | orderBy:sortField:reverse">
            <td>
                <div class="user">
                    <div class="profileImg">
                        <a href="/twitter/#/users/{{user.user.username}}">
                            <img ng-src="/twitter/image/renderImage?userName={{user.user.username}}"/>
                        </a>
                    </div>
                    <div class="profileName">
                        <strong>
                            <a href="/twitter/#/users/{{user.user.username}}"> {{user.user.username}} </a>
                        </strong>
                    </div>
                </div>
            </td>
            <td>{{user.user.totalTweets}}</td>

            <td>
                <follow-unfollow username="user.user.username"></follow-unfollow>
            </td>
        </tr>
    </table>

</div>
