<div class="shadow">
    <span>Top tweets so far:</span>
    <table class="table table-condensed" style="margin-top: 15px">
        <tr>
            <th>Tweet</th>
            <th>Likes</th>
            <th>User</th>
            <th>Created</th>
        </tr>
        <tr ng-repeat="tweet in tweets">
            <td>
                {{tweet.message | limitTo: 10}}
            </td>
            <td>{{tweet.likes}}</td>
            <td>
                <div class="user">
                    <div class="profileImg">
                        <a href="/twitter/#/users/{{tweet.author}}">
                            <img ng-src="/twitter/image/renderImage?userName={{tweet.author}}"/>
                        </a>
                    </div>
                    <div class="profileName">
                        <strong>
                            <a href="/twitter/#/users/{{tweet.author}}">{{tweet.author}}</a>
                        </strong>
                    </div>
                </div>
            </td>
            <td>
                {{tweet.dateCreated | date:'short'}}
            </td>
        </tr>
    </table>
</div>
