/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*= require style
*/

input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.hoverElem:hover{
    cursor: pointer;
}
#logo {
    float: left;
}

#open img {
    height: 45px;
    width: 45px;

}

#close {
    margin-right: 80px;
}

.mainContainer {
    margin-top: 40px;
    padding: 5px;
}

#allUsers {

    width: 90%;
    border-radius: 3px;
    height: auto;
    display: inline-block;
    padding: 4px;

}

#updateStatusForm {
    display: inline-block;
}

#updateStatus {

    height: auto;
}



