@mainColor: #0089D7;

body {
  padding: 5px;
  border-top: 5px solid @mainColor;
  background-color: rgba(231, 233, 236, 0.44);
}

#submit{
  margin-left: -55px !important;
 }
.modal-content-header{
  margin: 5px;
  color: #0089D7;
  font-weight: 800;
}
header {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  padding: 10px;


  img {
    width: 60px;
    height: 60px;
    float: left;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  h2 {
    float: left;
    margin-top: 10px;
    margin-left:20px;
    color: @mainColor;
    font: bold 200% Consolas, Monaco, monospace;
    border-right: .1em solid;
    width: 16.5em;
    /* fallback */
    width: 30ch;
    /* # of chars */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 20s steps(10, end),
      /* # of steps = # of chars */
    blink-caret .5s step-end infinite alternate;
  }

  .notification{
    display: inline-block;
    width: 100%;

    &:hover{
      background-color: #F5F7FA;
    }
    .notificationMainContent{
      display:inline-block;
      top: 10px;
      width:100%;
      left: 5px;
      padding: 10px;


      .userPic{
        float: left;
        img{
          float:left;
          width:27px;
          height: 31px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          box-shadow: 0 0 1px rgba(0, 0, 0, .8);
          -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
          -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
        }
      }
      .mainContent{
        margin-left: 6px;
        float:left;
        .message{}
        .date{
          font-size: 10px;
        }
      }
    }
    .buttons{
      display:inline-block;
      float: right;
      top: -40px;
      width:50px;
      position: relative;

      .button{
        float:left;
        margin-left: 4px;
        color:#0089D7;

        .span{
          font-size:10px;
        }
      }
      &:hover{
        cursor:pointer;
      }
    }
    .message-buttons{
      display:inline-block;
      float: right;
      top: -10px;
      width:90px;
      position: relative;
      margin-left:10px;
      width:95px !important;
      .button{
        float:left;
        margin-left: 4px;
        color:#0089D7;
        .span{
          font-size:10px;
        }
      }
      &:hover{
        cursor:pointer;
      }
      .smallElem{
        font-size: 10px;
      }
    }
  }

  #messagesContainer{
    display: none;
    padding:5px;
    width:400px;
    background-color: white;
    height: auto;
    border:1px solid #0089D7;
    position: absolute;
    top:75px;
    right:345px;
    border-radius:3px;
    z-index:999;
  }
  #notificationsContainer{
    max-height: 400px;
    overflow-y: scroll;
    right:285px !important;
    #messagesContainer;
  }

}

.shadow {
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  height: auto;
  overflow-x:hidden;
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.62);
  -moz-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.62);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.62);

  .tweet {
    width: 100%;
    height: 100%;
    background-color: white;

    &:hover {
      background-color: #F5F7FA;
    }
  }
}

#menu {
  margin-top: 22px;
  float: right;
  width: auto;
  display: inline-block;

  .coloredIcon{
    color:#0089D7;
  }
  #menuCol1, #menuCol2{
    float:left;
    display: inline-block;
  }
  #menuCol1{
    margin-right:40px;

    .btn{
      float: left;
    }
    #notificationsBtn{
      float: left;
    }
    span{
      font-size: 18px;
    }
    #totalUnreadNotificationsContainer{
      float: left;
      margin-left: 4px;
      position: relative;
      width: 18px;
      height: 19px;
      background-color: red;
      border-radius: 3px;
      top: -8px;
      left: -10px;

      div{
        color:white;
        text-align: center;
        font-weight: 600;
        height: 100%;
        width: 100%;
      }
    }
    #totalUnreadMessagesContainer{
      float: left;
      margin-left: 4px;
      position: relative;
      width: 18px;
      height: 19px;
      background-color: red;
      border-radius: 3px;
      top: -31px;
      left: 10px;

      div{
        color:white;
        text-align: center;
        font-weight: 600;
        height: 100%;
        width: 100%;
      }
    }
  }
}
textarea{
  padding: 5px;
}
a{
  color:black;
  &:hover{
    color:#0089D7;
    text-decoration: none;
  }
}
.likeBtn{
  &:hover{
    color:red;
  }
}
.follow{
  font-size:16px;
  margin:4px;

  &:hover{
    cursor:pointer;
    .status{
      color:red;
    }
  }

}
#sortingOptions{
  display: inline-block;
  border:1px solid red;
  span {
    float: left;
  }
  select{ float: left;}

  .form-control{
    height: auto !important;
    width: auto !important;
  }
}

.button2 {
  margin-top: 10px;
  text-decoration: none;
  background-color: @mainColor;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 3px;

}

#notificationsMessagesModal{
  .modal-content{
    max-height: 480px !important;
    overflow-y: scroll !important;
  }

}

/********************** PROFILE DETAILS********************/

.user{
  display:inline-block;

  .profileImg{
    width:30px;
    height: 30px;
    float:left;
    
    img{
      height: 100%;
    }
  }

  .profileName{
    float:left;
    bottom:-12px;
    margin-left:5px;
    position: relative;
  }
}

#editProfileDiv {
  display: inline-block;
  padding: 10px;

}
.editProfileDiv {
  float: left;
  margin: 5px;
  padding: 10px;
  border: 1px solid @mainColor;
  width:400px;
}
.profilePictureDiv {
  height: 174px;
  width: 184px;

  img{
    height: 100%;
  }

}

#profileDetails {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.userProfile {
  display: inline-block;
  width: 100%;
  height: 160px;
  padding: 3px;
}

.profileDetailsCol1 {
  float: left;
  height: 100%;
  overflow: hidden;
}

.profileDetailsCol1 img {
  height: 100%;
  border: 1px solid @mainColor;
}

.profileDetailsCol2 {
  float: left;
  margin-left: 2px;
  padding: 5px;
  border: 1px solid grey;
}

.followUser {
  width: 300px;
  margin:10px;
  height: auto;
  display: inline-block;


  img{
    width:90px;
  }
}


.profileImg {
  width: 120px;
  heigth: 120px;
}

.profileFollowImg {
  width: 50px;
  heigth: 50px;
}

.link {
  text-decoration: none;
  color: black;

  :hover{
    color: @mainColor;
  }
}
#userMessages {
  width: 99%;
}

#editProfileBtn {
  float: right;
  margin-right: 20px;

  span{
    margin:4px;
  }

}

.followBtn {
  margin-top: 5px;
}

.formMessage {
  color: @mainColor;

}
.hoverElem{
  &hover{
    cursor:pointer;
  }
}

/********************************** STATUS *****************************/

.status {
  padding: 5px;
  margin: 5px;
  border: 1px solid @mainColor;
  height: 70px;
  width: 100%;

  .col1 {
    float: left;
  }
  .col2 {
    float: right;
  }
  img {
    height: 35px;
    width: 35px;
  }
}

.searchResult {
  border: 1px solid @mainColor;
  padding: 5px;
}

.seachForm {
  display: inline-block;
}

#seachForm {
  float: left;
}

#seachFormMessage {
  float: left;
  margin-top: 15px;
}

#searchTweetResults{
  height: auto;
  margin-top: 10px;
}

.serverMessage {
  color: @mainColor;
  margin:5px;
}

#close {
  display: none;
}

.centerContainer{
  display: inline-block;
  width: 100%;
  margin-top: 5px;
 padding: 5px;

  #search{
    width: 65%;
  }
  #widget{
    width:30%;
    float:right;
    border-radius: 3px;
  }
  .centerContainerElement{
    float: left;
  }
}

/********************** On search anitmations **********************/

.animate-enter, .animate-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block;
}
.animate-enter.animate-enter-active, .animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
  left: 500px;
}


/************************ FOOTER ************************************/

footer {
  height: 36px;
  width: 100%;
  padding-top: 13px;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  oveflow: hidden;
  color: white;
  text-align: center;
  background-color: @mainColor;
}
